<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'login/mystyle.css' %}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Django Login Application |
        {% block title %}{% endblock %}</title>
    </head>
    <body background: #E6E6FA >
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}{% endblock %}
 
    </body>
</html>
